---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';

const pageTitle = "My Home Page ";
const myname = "Brian Ray";
const yearsOfExperience = 20;
const expertise = "Software Development";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="container">
		<Navigation />
		<h1>{pageTitle}</h1>
		<p>I'm {myname}, a {yearsOfExperience}-year veteran of the {expertise} industry.</p>
		<p>Throughout my career, I've worked on a variety of projects,</p>
		<p> including leading teams that created innovative software.</p>
	</body>
</html>
